{% extends "base.html" %}
{% load static  %}

{% block title %}
Cuenta Mesa
{% endblock title %}

{% block content %}

<h2 class="text-lg text-center mt-2 font-semibold text-slate-800 dark:text-slate-100 mb-2">
    {{mesa.nombre_mesa}}
</h2>

<div class="relative overflow-x-auto mt-10">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Producto
                </th>
                <th scope="col" class="px-6 py-3">
                    Cantidad
                </th>
                <th scope="col" class="px-6 py-3">
                    Precio
                </th>
                <th scope="col" class="px-6 py-3">
                   Total a pagar
                </th>
                <th scope="col" class="px-6 py-3">
                   Pagado
                </th>
            </tr>
        </thead>
        
                
                <tbody>
                
                    {% for venta in ventas %}
                        <div id="contenido">
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white ">
                                    {{venta.producto.nombre}}
                                </th>
                                <td class="px-6 py-4 ">
                                    {{venta.cantidad_vendida}}
                                </td>
                                <td class="px-6 py-4 ">
                                    ${{venta.producto.precio}}
                                </td>
                                <td class="px-6 py-4 ">
                                    ${{venta.monto_mesa}}
                                </td>
                                <td class="px-6 py-4 ">
                                    <a href="{% url 'inventory:delete' id=venta.id %}"><button  class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">Pago</button></a>
                                </td>
                            </tr>
                           
                        </div>
                        
                    {% empty %}
                            <h2 class="text-lg text-center mt-2 font-semibold text-slate-800 dark:text-slate-100 mb-2">
                                No hay ventas registradas para esta mesa.
                            </h2>
                    {% endfor %}
                </tbody> 
    </table>
</div>




{% endblock content %}

{% block javascript %}
<script src="{% static '/js/boton.js' %}"></script>
{% endblock javascript %}