{% extends "base.html" %}

{% load static  %}

{% block title %}
Inicio
{% endblock title %}



{% block content %}



<div class="w-full px-6 py-6 mx-auto">
        <!-- row 1 -->
        <div class="flex flex-wrap -mx-3">
          <!-- card1 -->
          <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
            <div class="relative flex flex-col min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
              <div class="flex-auto p-4">
                <div class="flex flex-row -mx-3">
                  <div class="flex-none w-2/3 max-w-full px-3">
                    <div>
                      <p class="mb-0 font-sans text-sm font-semibold leading-normal uppercase dark:text-black dark:opacity-60">Ventas del dia</p>
                      <h5 class="mb-2 font-bold dark:text-black">${{total_ganancias}}</h5>
                      <p class="mb-0 dark:text-black dark:opacity-60">
                        
                      </p>
                    </div>
                  </div>
                  <div class="px-3 text-right basis-1/3">
                    
                    <img src="{% static 'img/money.png' %}" width="32" height="32" alt="Icon 01" />
                    
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- card2 -->
          <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
            <div class="relative flex flex-col min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
              <div class="flex-auto p-4">
                <div class="flex flex-row -mx-3">
                  <div class="flex-none w-2/3 max-w-full px-3">
                    <div>
                      <p class="mb-0 font-sans text-sm font-semibold leading-normal uppercase dark:text-black dark:opacity-60">Total Productos</p>
                      <h5 class="mb-2 font-bold dark:text-black">{{cantidad_total.total_cantidad}}</h5>
                      <p class="mb-0 dark:text-black dark:opacity-60">
                        
                      </p>
                    </div>
                  </div>
                  <div class="px-3 text-right basis-1/3">
                    <img src="{% static 'img/productos.png' %}" width="32" height="32" alt="Icon 01" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- card3 -->
          <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:mb-0 xl:w-1/4">
            <div class="relative flex flex-col min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
              <div class="flex-auto p-4">
                <div class="flex flex-row -mx-3">
                  <div class="flex-none w-2/3 max-w-full px-3">
                    <div>
                      <p class="mb-0 font-sans text-sm font-semibold leading-normal uppercase dark:text-black dark:opacity-60">Usuarios Registrados</p>
                      <h5 class="mb-2 font-bold dark:text-black">{{usuarios}}</h5>
                      <p class="mb-0 dark:text-black dark:opacity-60">
                        <span class="text-sm font-bold leading-normal text-red-600"></span>
                        
                      </p>
                    </div>
                  </div>
                  <div class="px-3 text-right basis-1/3">
                    <img src="{% static 'img/usuario.png' %}" width="32" height="32" alt="Icon 01" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- card4 -->
          <div class="w-full max-w-full px-3 sm:w-1/2 sm:flex-none xl:w-1/4">
            <div class="relative flex flex-col min-w-0 break-words bg-gray-800 dark:bg-gray-800 shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
              <div class="flex-auto p-4">
                <div class="flex flex-row -mx-3">
                  <div class="flex-none w-2/3 max-w-full px-3">
                    <!-- <div>
                       <p class="mb-0 font-sans text-sm font-semibold leading-normal uppercase dark:text-black dark:opacity-60">Total ganancias mes</p>
                      <h5 class="mb-2 font-bold dark:text-black">${{total_ganancias_mes}}</h5>
                      <p class="mb-0 dark:text-black dark:opacity-60">
                        
                      </p>
                    </div> -->
                  </div>
                  <!-- <div class="px-3 text-right basis-1/3">
                    <img src="{% static 'img/money.png' %}" width="32" height="32" alt="Icon 01" />
                  </div>  -->
                </div>
              </div>
            </div>
          </div> 
        </div>

        <!-- cards row 2 -->
        <div class="flex flex-wrap mt-6 -mx-3">
          <div class="w-full max-w-full px-3 mt-0 lg:w-12/12 lg:flex-none">
            <div class="border-black/12.5 dark:bg-slate-850 dark:shadow-dark-xl shadow-xl relative z-20 flex min-w-0 flex-col break-words rounded-2xl border-0 border-solid bg-white bg-clip-border">
              <div class="border-black/12.5 mb-0 rounded-t-2xl border-b-0 border-solid p-6 pt-4 pb-0">
                <h6 class="capitalize dark:text-black">Grafica de ventas</h6>
                <p class="mb-0 text-sm leading-normal dark:text-white dark:opacity-60">
                  <i class="fa fa-arrow-up text-black"></i>
                  <span class="font-semibold text-black">el tope es lo maximo ganado por la venta de algun producto</span>
                </p>
              </div>
              <div class="flex-auto p-4">
                <div>
                  <img src="data:image/png;base64,{{ grafica_venta }}" alt="Gráfica de ventas">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- cards row 3 -->

        <div class="flex flex-wrap mt-6 -mx-3">
          <div class="w-full max-w-full px-3 mt-0 mb-6 lg:mb-0 lg:w-7/12 lg:flex-none">
            <div class="relative flex flex-col min-w-0 break-words bg-white border-0 border-solid shadow-xl dark:bg-slate-850 dark:shadow-dark-xl dark:bg-gray-950 border-black-125 rounded-2xl bg-clip-border">
              <div class="p-4 pb-0 mb-0 rounded-t-4">
                <div class="flex justify-between">
                  <h6 class="mb-2 dark:text-white">Productos mas Vendidos</h6>
                </div>
              </div>
              <div class="overflow-x-auto">
                <table class="items-center w-full mb-4 align-top border-collapse border-gray-200 dark:border-white/40">
                  <tbody>
                    {% for producto in productos_mas_vendidos %}
                    <tr>
                      <td class="p-2 align-middle bg-transparent border-b w-3/10 whitespace-nowrap dark:border-white/40">
                        <div class="flex items-center px-2 py-1">
                          <div>
                            
                          </div>
                          <div class="ml-6">
                            <p class="mb-0 text-xs font-semibold leading-tight dark:text-white dark:opacity-60">Nombre:</p>
                            <h6 class="mb-0 text-sm leading-normal dark:text-white">{{producto.nombre}}</h6>
                          </div>
                        </div>
                      </td>
                      <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap dark:border-white/40">
                        <div class="text-center">
                          <p class="mb-0 text-xs font-semibold leading-tight dark:text-white dark:opacity-60">cantidad:</p>
                          <h6 class="mb-0 text-sm leading-normal dark:text-white">{{producto.cantidad_v}}</h6>
                        </div>
                      </td>
                      
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
{% endblock content %}





{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.6/flowbite.min.js"></script>
{% endblock javascript %}
    