{% extends "base.html" %}

{% block title %}
Error
{% endblock title %}

{% block content %}

<div class="holder overflow-hidden w-4/6 mt-5 box-border border border-b-4 border-red-600 rounded-r-md shadow-xl  mx-auto">
  <div class="top bg-red-600 text-white p-2 px-4 uppercase">
  <svg class="h-5 w-5 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
    <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
  </svg>
    Error
  </div>
  <div class="center flex box-border px-6 py-4">
    <div class="content">
        <span class="font-medium text-white">{{error_message}}</span> 
      
    </div>    
  </div>

  <div class="bottom">
    <div class="hold flex space-x-2 border-t p-3 mt-3">

        <a href="{% url 'inventory:ventas' %}">
            <div class="border-red-600 rounded text-white bg-red-600 text-base cursor-pointer border border-b-4 p-1 px-3 font-bold">
                <svg class="h-5 w-5 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                </svg>
                Volver al Inicio
              </div>
        </a>
    </div>    
  </div>
</div>


{% endblock content %}